<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

{#- Disable transformation -#}
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />

<meta name="theme-color" content="#f8f5ec" />
<meta name="msapplication-navbutton-color" content="#f8f5ec">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#f8f5ec">

{#- Website description -#}
{# {%- if page.description -%}
  <meta name="description" content="{{ page.description }}"/>
{%- elif page.title -%}
  <meta name="description" content="{{ page.title }}"/>
{%- elif THEMECONFIG.description -%}
  <meta name="description" content="{{ THEMECONFIG.description }}"/>
{%- endif -%} #}

{#- Website keywords -#}
{# {%- if page.keywords -%}
  <meta name="keywords" content="{{ page.keywords }}" />
{%- elif THEMECONFIG.keywords -%}
  <meta name="keywords" content="{{ THEMECONFIG.keywords }}" />
{%- elif page.tags and page.tags.length -%}
  <meta name="keywords" content="{%- for tag in page.tags -%}{{ tag.name }}, {%- endfor -%}{{ SITENAME }}" />
{%- endif -%} #}

{%- if THEMECONFIG.baidu_verification -%}
  <meta name="baidu-site-verification" content="{{ THEMECONFIG.baidu_verification }}" />
{%- endif -%}

{%- if THEMECONFIG.google_verification -%}
  <meta name="google-site-verification" content="{{ THEMECONFIG.google_verification }}" />
{%- endif -%}

