<div class="logo-wrapper">
  <a href="{{ SITEURL }}" class="logo">{{ SITENAME }}</a>
</div>

<nav class="site-navbar">
  {%- if THEMECONFIG.menu -%}
    <ul id="menu" class="menu">
      {%- for name, path in THEMECONFIG.menu.items() -%}
        <li class="menu-item">
          <a class="menu-item-link" href="{{ path }}">
            {%- set itemName = 'menu.' + name.lower() -%}
            {%- if itemName.startswith('menu') -%}
              {{ name }}
            {%- else -%}
              {{ itemName }}
            {%- endif -%}
          </a>
        </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</nav>
